.link-button > button {
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    font-size: 1em;
    font-weight: bold;
    transition-duration: 0.15s;
}

.link-button > button:hover {
    width: calc(100% - 35px);
    height: calc(100% - 15px);
}
